<?xml version="1.0" encoding="UTF-8"?>
        <!DOCTYPE generatorConfiguration
                PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
                "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">
<generatorConfiguration>

    <context id="SpringbootTables">

        <!-- 目标目录下 -->
        <!-- mvn mybatis-generator:generate -->

        <jdbcConnection driverClass="com.mysql.jdbc.Driver" connectionURL="jdbc:mysql://localhost:3306/springboot"
                        userId="root" password="zhangyu110"/>

        <!-- Java 模型对象生成器 -->
        <javaModelGenerator targetPackage="com.zhang.spring.jsp.entity"
                            targetProject="${user.dir}/src/main/java"/>

        <!-- SQL Mapper XML 生成器 -->
        <sqlMapGenerator  targetPackage="mybatis.mappers" targetProject="${user.dir}/src/main/resources"/>

        <!-- SQL Mapper Java 接口 -->
        <javaClientGenerator type="XMLMAPPER" targetPackage="com.zhang.spring.jsp.dao"
                             targetProject="${user.dir}/src/main/java">
            <property name="enableSubPackages" value="true"/>
        </javaClientGenerator>

        <table tableName="user_table">
            <generatedKey column="id" sqlStatement="mysql" identity="true"/>
            <columnOverride column="name" property="name"/>
            <columnOverride column="age" property="age"/>
        </table>
    </context>
</generatorConfiguration>

