<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhang.spring.jsp.dao.UserMapper">

    <resultMap id="UserResultMapper" type="com.zhang.spring.jsp.mapping.UserEntity">
        <id property="id" column="id"/>
        <result property="name" column="name" />
        <result property="age" column="age"/>
    </resultMap>


    <select id="selectAll" resultMap="UserResultMapper">
        SELECT id,`name`,age FROM user_table
    </select>
</mapper>